* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

.navbar {
    background-color: #333; 
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.sidebar ul {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    background-color: #f4f4f4;
    padding: 20px;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 20px;
}

.sidebar {
    background-color: #ddd;
    padding: 20px;
}

.main-content {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}